.about-wrap
  text-align: center
  margin: 50px

  p
    color: $text-light
    font-size: 16px
    padding: 0 150px


    strong
      font-size: 23px
      font-weight: 800


  .skill-lockup
    display: flex
    padding-top: 50px

    .icon
      +size(30px)
      display: inline-block
      padding: 10px

      svg
        fill: $primary-color

    .icon-idea
      padding: 37px 0

    .icon-pencil
      border-left: 1px solid lightgray
      padding: 37px 0
    .icon-gear
      border-left: 1px solid lightgray
      padding: 37px 0
    .icon-laptop
      border-left: 1px solid lightgray
      padding: 37px 0

    p
      font-size: 11px
      text-align: center
      color: $text-light
      padding: 0 50px
