header
  height: 728px
  background: url(../img/hero-bg.jpg) center center
  background-size: cover
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  h3
    color: $text-color
    font-size: 30px
    font-weight: 400
    margin-bottom: 0

  p
    color: $text-color
    font-size: 18px

  .mustache
    padding: 52px 0

    svg
      width: 125px
      fill: white
      stroke: white

  .button
    background-color: $accent-color
    color: #0b1016
    font-weight: 800
    text-transform: uppercase
    text-align: center
    padding: 21px 52px
    line-height: 0.3
    transition: .3s ease-in
    user-select: none
    box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.4)

    &:hover
      transform:translate(0px,-5px)
      box-shadow: 10px 10px 2px -2px rgba(0,0,0,0.4)
