header
  height: 728px
  background: linear-gradient( rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64) ), linear-gradient(to bottom, rgba(14,128,124,0.34) 0%,rgba(207,201,29,0.34) 100%), url(../img/hero-bg.jpg) center center
  background-size: cover
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  h3
    color: white
    font-size: 30px
    font-weight: 400
    margin-bottom: 0


  h1
    letter-spacing: 28px
    font-size: 68px
    font-weight: 800
    text-transform: uppercase
    margin: 0
    padding: 0
    color: white

  p
    color: white
    font-size: 18px

  .mustache
    padding: 52px 0

    svg
      width: 125px
      fill: white
      stroke: white

  .button
    background-color: #cfc91d
    color: #0b1016
    font-weight: 800
    text-transform: uppercase
    text-align: center
    padding: 21px 52px
    line-height: 0.3
    transition: .3s ease-in
    user-select: none
    box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.4)

    &:hover
      transform:translate(0px,-10px)
      box-shadow: 10px 10px 2px -2px rgba(0,0,0,0.4)
