.navbar
  display: flex
  align-items: center
  justify-content: space-between
  background-color: $primary-color
  height: 60px
  padding: 0 50px

  .logo
    font-weight: 800
    font-size: 26px
    text-transform: uppercase
    color: white

    span
      color: $accent-color

  nav
    a
      margin-left: 50px

      font-size: 12px
      font-weight: 800
      text-transform: uppercase
      color: white
      transition: 0.4s color

      &:hover
        color: rgba(0,0,0,0.8)

    @media (max-width: 780px)
      display: none
