.work-wrap
  text-align: center
  margin: 50px

  p
    color: $text-light
    font-size: 16px
    padding: 0 150px

  // .image-wrap
  //   margin: 0
  //   display: flex
  //   flex-wrap: wrap
  //   align-items: center
  //   justify-content: center
