.work-wrap
  text-align: center
  margin: 50px
  
  p
    color: $text-light
    font-size: 16px
    padding: 0 150px

  .image-wrap
    // margin: 0 -50px
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: center

    #sunglasses
      +size(321px 238px)
      background-image: url(../img/sunglasses.jpg)
      background-repeat: no-repeat

    #leaf
      +size(321px 238px)
      background-image: url(../img/leaf.jpg)
      background-repeat: no-repeat

    #car
      +size(321px 238px)
      background-image: url(../img/car.jpg)
      background-repeat: no-repeat

    #swan
      +size(321px 238px)
      background-image: url(../img/swan.jpg)
      background-repeat: no-repeat
      background-size: cover

    #sushi
      +size(321px 238px)
      background-image: url(../img/sushi.jpg)
      background-repeat: no-repeat

    #dog
      +size(321px 238px)
      background-image: url(../img/dog.jpg)
      background-repeat: no-repeat

    #hair
      +size(321px 238px)
      background-image: url(../img/hair.jpg)
      background-repeat: no-repeat

    #girl
      +size(321px 238px)
      background-image: url(../img/girl.jpg)
      background-repeat: no-repeat
      background-size: cover
