<div class="about-wrap">
  <h1>About Me</h1>

  <hr>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <strong>quis nostrud exercitation ullamco</strong> laboris nisi ut aliquip ex ea
  commodo consequat duis aute irure dolor.
  </p>

  <div class="skill-lockup">
    <div class="icon-idea">
      <div class="icon">{% include icons/idea.html %}</div>
      <h4>Title goes here</h4>
      <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi
    et dolorerserss eerhfre mag.</p>
    </div>

    <div class="icon-pencil">
      <div class="icon">{% include icons/pencil.html %}</div>
      <h4>Title goes here</h4>
      <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi
    et dolorerserss eerhfre mag.</p>
    </div>

    <div class="icon-gear">
      <div class="icon">{% include icons/gear.html %}</div>
      <h4>Title goes here</h4>
      <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi
    et dolorerserss eerhfre mag.</p>
    </div>

    <div class="icon-laptop">
      <div class="icon">{% include icons/laptop.html %}</div>
      <h4>Title goes here</h4>
      <p>onsectetur adipisicing elit, sedo eiusmod tempor incidi
    et dolorerserss eerhfre mag.</p>
    </div>
  </div>
</div>
