<div class="contact-wrap">
  <div class="contact-top">
    <h1>Contact Me</h1>

    <hr>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
    ut labore et dolore magna aliqua.
    </p>
  </div>

  <div class="contact-bottom">

    <form class="contact" action="index.html" method="post">

      Name<br>
      <input type="text" name="name"><br>
      Email<br>
      <input type="text" name="email"><br>
      Message<br>
      <!-- <textarea name="message" rows="2"></textarea><br> -->
      <input type="text" name="message"><br>
      </form>
      <input type="submit" name="submit" id=submit>

    <!-- <a href="#"><div class="button">Submit</div></a> -->
  </div>
</div>
