<div class="test">
  <div class="services-wrap">
    <h1>Services</h1>

    <hr>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
    tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <div class="services-lockup">
      <div class="icon-globe">
        <div class="icon">{% include icons/globe.html %}</div>
        <h4>Title goes here</h4>
        <p>Onsectetur adipisicing elit, sedo eiusmod tempor incidi
    et dolorerserss eerhfre mag.</p>
      </div>

      <div class="icon-search">
        <div class="icon">{% include icons/search.html %}</div>
        <h4>Title goes here</h4>
        <p>Onsectetur adipisicing elit, sedo eiusmod tempor incidi
    et dolorerserss eerhfre mag.</p>
      </div>

      <div class="icon-clock">
        <div class="icon">{% include icons/clock.html %}</div>
        <h4>Title goes here</h4>
        <p>Onsectetur adipisicing elit, sedo eiusmod tempor incidi
    et dolorerserss eerhfre mag.</p>
      </div>

      <div class="icon-graph">
        <div class="icon">{% include icons/graph.html %}</div>
        <h4>Title goes here</h4>
        <p>Onsectetur adipisicing elit, sedo eiusmod tempor incidi
    et dolorerserss eerhfre mag.</p>
      </div>
    </div>
  </div>

  <div class="image-wrap"></div>
</div>
