<div class="work-wrap">
  <h1>My Work</h1>

  <hr>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
  ut labore et dolore magna aliqua.
  </p>

  <div class="image-wrap">
    <a href="../assets/img/sunglasses.jpg" class="gallery-item image-link">
     <img src="../assets/img/sunglasses-small.jpg" />
    </a>

    <a href="../assets/img/leaf.jpg" class="gallery-item image-link">
     <img src="../assets/img/leaf-small.jpg" />
    </a>

    <a href="../assets/img/car.jpg" class="gallery-item image-link">
     <img src="../assets/img/car-small.jpg" />
    </a>

    <a href="../assets/img/swan.jpg" class="gallery-item image-link">
     <img src="../assets/img/swan-small.jpg" />
    </a>

    <a href="../assets/img/bananas.jpg" class="gallery-item image-link">
     <img src="../assets/img/bananas-small.jpg" />
    </a>

    <a href="../assets/img/dog.jpg" class="gallery-item image-link">
     <img src="../assets/img/dog-small.jpg" />
    </a>

    <a href="../assets/img/hair.jpg" class="gallery-item image-link">
     <img src="../assets/img/hair-small.jpg" />
    </a>

    <a href="../assets/img/girl.jpg" class="gallery-item image-link">
     <img src="../assets/img/girl-small.jpg" />
    </a>
  </div>
</div>
